#fld_1{
	fill:palegreen;
	stroke-width:1;
	stroke:blue
}
#fld_2{
	fill:purple;
	stroke-width:1;
	stroke:blue
}
#fld_3{
	fill:green;
	stroke-width:1;
	stroke:blue
}
#fld_4{
	fill:grey;
	stroke-width:1;
	stroke:blue
}
#fld_5{
	fill:yellow;
	stroke-width:1;
	stroke:blue
}
#fld_6{
	fill:skyblue;
	stroke-width:1;
	stroke:blue
}
#fld_7{
	fill:orange;
	stroke-width:1;
	stroke:blue
}

#fld_8{
	fill:pink;
	stroke-width:1;
	stroke:blue
}
#axis_x{
	stroke: #000000; 
	stroke-width:3;
}
#axis_y{
	stroke: #000000; 
	stroke-width:3;
}